* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3719dc, #9322af);
    color: #333;
}

header {
    background-color: #ea2be4;
    padding: 20px;
    text-align: center;
}


h1 {
    font-size: 36px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

h2 {
    color: #eae72b;
    margin: 50px;
}

p {
    font-size: 18px;
    margin: 50px;
    color: white;

}

a {
    color: #eae72b;
    text-decoration: none;
}

main {
    padding: 20px;
    color: white;
}

footer {
    color: white;

}