* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3719dc, #9322af);
    color: #333;
    line-height: 1.5;    
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width:90%;
    max-width: 1100px;
    margin: 0 auto;
}   

.cabecalho {
    background-color: #9322af;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 15px 0;
    width: 100%;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

    font-size: 1.5rem;
    font-weight: bold;
    color: #FF69B4;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}
   

header {
    background-color: #ea2be4;
    padding: 20px;
    text-align: center;
}


h1 {
    font-size: 36px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

h2 {
    color: #eae72b;
    margin: 50px;
}

p {
    font-size: 18px;
    margin: 50px;
    color: white;

}

a {
    color: #eae72b;
    text-decoration: none;
}

main {
    padding: 20px;
    color: white;
}

footer {
    color: white;
    margin: 20px;

}

@media screen and (max-width: 768px) {
    .cabecalho {
        padding: 10px 0;

    }
    .container .navegacao {
        width: 100%;
         line-height: 1.5;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 50px 0;
    }
   
    }

    .logo {
        font-size: 1.2rem;
        padding: 20px;
        width: 100%;
        z-index: 2;
        text-align: center;
    }

    .menu {
        display: flex;
        gap: 10px;
        padding: 20px 0;
    }
.menu a{
        color: #333;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 15px; 
        border-radius: 5px;
        transition: background-color 0.3s ease;      
        
    }

    

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

